.full {
    width: 80%;
    position: absolute;
    top: 2%;
    left: 10%;
    border: 5px groove rgba(156, 201, 88, 0.661);
}

.heading {
    background-color: rgba(182, 171, 155, 0.474);
    color: rgb(19, 54, 87);
    opacity: 50%;
}

.Img {
    background-color: rgba(33, 140, 104, 0.222);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(200, 138, 58, 0.277);
    color: rgb(83, 108, 83);
}

.wht {
    width: 49%;
    border: 2px double rgba(0, 0, 0, 0.131);
    padding-left: 1%;
    text-decoration-line: line-through;
    text-decoration-color: rgba(32, 218, 156, 0.514);
    text-decoration-style: wavy;
    text-transform: capitalize;
    text-shadow: 0 0 3px  #351a1a, 0 0 5px #0000ff;
    
}

.prop {
    width: 49%;
    border: 2px double rgba(0, 0, 0, 0.165);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.pucha {
    position: absolute;
    width: auto;
    height: 200PX;
    border-radius: 4px;
    /* padding: 5px; */
    border: 3px outset rgb(173, 173, 173);
}


#cat {
    animation: per;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

#poocha {
    animation: per2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes per {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes per2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}