h1{
    align-items: center;
    background-color: black;
    color: antiquewhite;
    font-size: xx-large;
}
p{
    background-color: antiquewhite;
    color: black;
}
button{
    width: 48%;
    height: 50px;
    background-color: rgb(73, 82, 79); 
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
