
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading{
    display: flex;
    border-radius: 5px;
    background-color: black;
    color: antiquewhite;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    width: 48%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: medium;
    border-radius: 5px;
}
.string h1, .math h1{
    background-color: rgb(104, 145, 198);
    color: antiquewhite;
    padding: 8px;
    border-radius: 5px;
}
.string, .math{
    display: none;
}